:root {
    --main-red-color: #ff0000;
    --main-darkblue-color: #0070C1;
    --main-lightblue-color: #01B0F1;
    --main-black-color: #171616;
    --main-white-color: #ffffff;
}

nav {
    height: 100px; /* 100 */
    width: 100%;
    background-color: var(--main-white-color);
    display: flex;
    align-items: center;
    padding: 0px 15% 0 15%;
    justify-content: space-between;
    box-shadow: 0 0 2px var(--main-black-color);
    /* border: 3px solid black; */
}

nav ul {
    list-style: none;
    /* display: flex;
    justify-content: space-around;
    width: 25%; */
}

nav ul img {
    cursor: pointer;
}

nav ul li {
    display: flex;
    align-items: center;
    float: left;

    margin-right: 80px;
}

nav ul li:nth-last-child(1) {
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 2px 14px #00000025;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-black-color);
}

nav ul li a:hover {
    color: var(--main-darkblue-color);
    text-shadow: 0 0 1px #271f1f;
}

#buttons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logout-button-nav {
    font-size: 17px;
    color: var(--main-red-color);
    text-decoration: underline;

}

#logout-button-nav:hover {
    color: #c52424;
}

#sing-in-up {
    padding: 12px 36px 12px 36px;
    background-color: transparent;
    border: 2px solid var(--main-black-color);
    border-radius: 40px;
    text-transform: uppercase;
    text-shadow: 0px 2px 14px #00000025;
    font-size: 15px;
    font-weight: bold;
    color: var(--main-black-color);
    cursor: pointer;  
}

#sing-in-up:hover {
    color: var(--main-darkblue-color);
    text-shadow: 0 0 1px var(--main-black-color);
    border: 2px solid #3E58AA;
    box-shadow: 0 0 1px #271f1f;
}
