* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background-image: url("../images/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100vh;
}

nav {
    height: 150px; /* 100 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 3px solid black; */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 35%;
}

nav ul img {
    cursor: pointer;
}

nav ul li {
    display: flex;
    align-items: center;
    float: left;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 2px 14px #00000025;
    font-size: 18px;
    font-weight: bold;
    color: #271f1f;
}

nav ul li a:hover {
    color: #D84C4C;
    text-shadow: 0 0 2px black;
}

nav button {
    padding: 12px 40px 12px 40px;
    background-color: transparent;
    border: 2px solid #271f1f;
    border-radius: 40px;
    text-transform: uppercase;
    text-shadow: 0px 2px 14px #00000025;
    font-size: 18px;
    font-weight: bold;
    color: #271f1f;
    cursor: pointer;
}

nav button:hover {
    color: #D84C4C;
    border: 2px solid #D84C4C;
    text-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;;
}

.home-h1 {
    text-align: center;
    margin-top: 90px; /* 140 */
    color: #3F3838;
    text-shadow: 0px 3px 6px #00000025;
    font-size: 70px;
}

.home-h2 {
    text-align: center;
    margin-top: 5px;
    color: #D84C4C;
    text-shadow: 0px 2px 14px #00000025;
    font-size: 68px;
}

form {
    margin-top: 40px;
    /* text-align: center; */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}

.rij1 {
    display: flex;
    justify-content: center;

    

    /* width: 60%;
    max-width: 1170px; */
}

.input-velden {
    width: 50%;
    max-width: 960px;
    border: 1px solid #9B9B9B; 
    border-radius: 5px;
    box-shadow: 0px 0px 2px #000000;
}

.input-velden:hover {
    box-shadow: 0 0 5px black;
}

.input-velden:focus-within {
    box-shadow: 0 0 4px 1px black;
}

.input-algemeen {
    padding: 12px 8px 12px 8px;
    font-size: 24px;
    border: 0px solid transparent;
    float: left;
}

.input-algemeen:focus {
    outline: 0px solid transparent;
}

.input-veld-opleiding {
    height: 70px;
    width: 60%;
    border-radius: 3px 0 0 3px;
}

.input-veld-locatie {
    height: 70px;
    width: 40%;
    border-radius: 0 3px 3px 0;
    /* border-left: 1px solid black; */
}

.go-knop {
    margin-left: 20px;
    width: 10%;
    max-width: 200px;
    height: 70px;
    background-color: #D84C4C;
    vertical-align: top;
    border: 1px solid #543838; 
    border-radius: 5px;
    box-shadow: 0px 2px 3px #543838;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.go-knop:hover {
    box-shadow: 0 0 4px black;
    background-color: #d04c4c;
}

.rij2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.voorstel-stage-knop:nth-child(1) {
    margin-left: 0px;
}

.voorstel-stage-knop {
    width: 277.5px;
    height: 70px;
    margin-left: 20px;
    font-size: 22px;
    color: #362828;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #9B9B9B; 
    border-radius: 5px;
    box-shadow: 0px 0px 2px #000000;
    cursor: pointer;
}

.voorstel-stage-knop:hover {
    box-shadow: 0 0 5px black;
    background-color: #f2efef;
    
}



