:root {
    --main-red-color: #ff0000;
    --main-darkblue-color: #0070C1;
    --main-lightblue-color: #01B0F1;
    --main-black-color: #171616;
    --main-white-color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-1 {
    width: 100%;
    height: 100vh;
    background-image: url("../images/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.container-2 {
    height: calc(100vh);
    display: grid;
    grid-template-columns: 100%;
}

#box-search {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    
    /* min-height: 70vh;
    min-width: 70vw;
    height: auto;
    width: auto; */
    height: auto; /* max- 80*/
    width: 500px; /* 70vw */
    overflow: auto;
    background-color: var(--main-white-color);
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;   /* weghalen als ik wil centeren */
}

form {
    width: 100%;
    padding: 0 6% 5% 6%;
    height: auto;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0px;
}

.input-algemeen {
    height: 55px;
    width: 100%;
    padding: 12px 8px 12px 8px;
    font-size: 18px;
    border: 1px solid #7675758c;
    border-radius: 4px;
    box-shadow: 0 0 1px #4f4f4f;
}

.input-algemeen:focus {
    outline: 0px solid var(--main-black-color);
    border: 1px solid #333333a6;
}

.input-name {
    margin-top: 15px;
}

.center {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-knop {
    width: 50%;
    height: 50px;
    margin-top: 0px;

    color: var(--main-white-color);
    background-color: var(--main-darkblue-color);
    vertical-align: top;
    border: 1px solid #0067b1;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #543838;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.search-knop:hover {
    box-shadow: 0 0 2px var(--main-black-color);
    color: var(--main-black-color);
    background-color: var(--main-lightblue-color);
    border: 1px solid #008dc0;
}

