* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container-1 {
    width: 100%;
    height: 100vh; 
    background-image: url("../images/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.container-2 {
    width: 100%;
    height: calc(100vh - 100px - 70px);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-3 {
    height: auto;
    display: grid;
    grid-template-columns: 38% 43%;
    grid-column-gap: 11%;
    margin: 0px 14% 0 14%; /* 80px */
}

.input-velden-box {
    width: 100%;
    height: auto;
    padding: 6% 10%;
    background-color: #fafbfd;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.input-velden-box h2 {
    font-size: 20px;
}

.input-algemeen {
    height: 55px;
    width: 100%;
    padding: 12px 8px 12px 8px;
    font-size: 18px;
    border: 1px solid #7675758c;
    border-radius: 4px;
    box-shadow: 0 0 1px #4f4f4f;
}

.input-algemeen:focus {
    outline: 0px solid black;
    border: 1px solid #333333a6;
}

.input-veld-opleiding {
    margin-top: 10px;
}

.input-veld-locatie { 
    margin-top: 15px;
}

.search-knop {
    width: 50%;
    height: 50px;
    margin-top: 15px;
    float: left;

    color: #f0f3f5;
    background-color: #3E58AA;
    vertical-align: top;
    border: 1px solid #354b96; 
    border-radius: 5px;
    box-shadow: 0px 0px 1px #543838;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.search-knop:hover {
    box-shadow: 0 0 2px black;
    color: #271f1f;
    background-color: #607ddc;
    border: 1px solid #607ddc; 
}

.sign-box {
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.sign-box h3 {
    align-self: center;
    /* margin-top: 20px; */
    float: left;
    font-size: 16px;
}

.line {
    float: left;
    align-self: center;
    /* margin: 8px 20px; */
    margin: 0px 15px;
    height: 32px;
    width: 3px;
    border-radius: 3px;
    background-color: #707070;
}

.voorgestelde-stages-header {
    margin: 3% 0 10px 0;/* margin: 15px 0 10px 0; */
    font-size: 20px;
}

.voorgestelde-stages {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.voorstel-stage-knop {
    width: 32%;
    height: 55px;
    font-size: 16px;
    color: #362828;
    font-weight: bold;
    background-color: #fdfafa;
    border: 1px solid #9B9B9B; 
    border-radius: 5px;
    box-shadow: 0px 0px 1px #000000;
    cursor: pointer;
}

.voorstel-stage-knop:hover {
    box-shadow: 0 0 2px black;
    background-color: #3E58AA;
    border: 1px solid #354b96;     
    color: #f0f3f5;
}

.recente-stages-box {
    width: 100%;
    height: auto;
    background-color: transparent;
}

.recente-stages-balk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.lege-ruimte {
    height: 5%;
    width: 100%;
    background-color: transparent;
}

.alle-stages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 80%;
}

.recente-stage-plek {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    padding: 3%;
    background-color: white;
}

.recente-stage-plek img {
    float: left;
    height: 94%;
    width: auto;
}

.textbox {
    float: left;
    width: auto;
    height: auto;
    margin-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    
}

.textbox h1 {
   font-size: 24px;
}

.textbox h2 {
    font-size: 18px;
    margin-top: 1%;
}

.textbox p {
    margin-top: 2%;
}

footer {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 4px black;

}

